.carts--defaultstate{
    position: absolute;
    top: 85px;
    z-index: -1;
    opacity: 0;
    background: lighten($color: #000000, $amount: 8);
    padding: 10px 20px;
    width: 25rem;
}

.carts_empty {
    font-size: 1.5rem;
    font-weight: 350;
    color: #fff;
    max-width: 20rem;
}

.total {
    margin-top: 5px;
    max-width: 125px;
    font-size: 18px;
    color: #fff;
}

.totalprice--price {
    float: right;
    margin-right: 10px;
}

div.checkout {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid #000;
}

button.checkout__button{
    width: 100%;
    font-size: 1.5rem;
    padding: 0;
    height: 4rem;
    &:hover {
        background: #eceeee;
        color: #000;
    }
}