.cart {
    font-size: 18px;
    padding-bottom: 5px;
    div {
        margin: 5px 6px;
    }
    color: #fff;
}

.cartitems {
    display: flex;
    flex-direction: column;
    float: left;
    span:first-child {
        margin-top: 12px;
        max-width: 125px;
    }
}

.cartitem_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
}

button.cartitem_info_quantityinfo_button{
    border: none;
    transform: scale(0.7, 0.8);
    opacity: 0.7;
    padding: 0px 8px;
    &:hover {
        opacity: 1;
        transform: scale(0.9);
    }
}

.cartitems__quantity{
    font-size: 1.5rem;
}

span.cartitems__quantity::before {
    content: 'x';
    font-size: 1.5rem;
    font-weight: lighter;
}