.loading {
    display: block;
}

.loading__container{
    display: flex;
    flex-direction: column;
    background: lighten($color: #000000, $amount: 10.2);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loading__img__logo{
    width: 13rem;
}

.loading__title{
    font-size: 2.5rem;
    color: #fff;
    margin-top: 1rem;
    font-style: italic;
}

.loading__img__loadinggif{
    width: 9rem;
    opacity: 0.5;
}